.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  width: 100%;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 288px;
  }
}
