.intro {
  padding: 92px 0 92px;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    max-width: 288px;
    padding: 70px 0 64px;
  }
}
